.service{
    margin-top: 10px;
    width: 100%;
}


.section-heading {
    margin-top: 50px;

}

.InfantButton{
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    h1{
        font-size: 22px;
    }

    .section-heading {
        margin-top: 20px;
    }
    .section-heading h2{
        font-size: 25px;
    }

}